@model AssetMgmt.Models.AssetTransferLog
@{
    ViewData["Title"] = "Transfer Asset";
    var locations = ViewBag.Locations as List<AssetMgmt.Models.Location>;

}

<h2>Transfer Asset - @Model.AssetID</h2>

<form asp-action="Transfer" method="post">
    <input type="hidden" asp-for="AssetID" />
<div class="mb-3">
    <label asp-for="FromLocationID" class="form-label">From Location</label>
<select asp-for="FromLocationID" class="form-select" disabled>
            @foreach (var loc in (IEnumerable<AssetMgmt.Models.Location>)ViewBag.Locations)
            {
                if (loc.LocationID == Model.FromLocationID)
                {
                    <option value="@loc.LocationID" selected="selected">@($"{loc.Region} / {loc.Building} / {loc.Room}")</option>
                }
                else
                {
                    <option value="@loc.LocationID">@($"{loc.Region} / {loc.Building} / {loc.Room}")</option>
                }
            }
</select>
<input type="hidden" asp-for="FromLocationID" />
    </div>
        <div class="mb-3">
        <label for="ToLocationID" class="form-label">To Location</label>
        <select asp-for="ToLocationID" class="form-select">
                <option value="">-- Select Location --</option>
                @foreach (var loc in (IEnumerable<AssetMgmt.Models.Location>)ViewBag.Locations)
                {
                        <text>
                        <option value="@loc.LocationID">@($"{loc.Region} / {loc.Building} / {loc.Room}")</option>
                        </text>
                }
            </select>
        <span asp-validation-for="ToLocationID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="TransferredTo" class="form-label">Custodian</label>
        <select asp-for="TransferredTo" class="form-select">
                <option value="">-- Select Custodian --</option>
                @foreach (var user in (IEnumerable<AssetMgmt.Models.UserMaster>)ViewBag.Users)
                {
                    <option value="@user.UserID">@user.FullName</option>
                }
            </select>
        <span asp-validation-for="TransferredTo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="TransferredBy" class="form-label">Transferred By (User ID)</label>
            <select asp-for="TransferredBy" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Users, "UserID", "FullName"))">
                <option value="">-- Select User --</option>
            </select>
            <span asp-validation-for="TransferredBy" class="text-danger"></span>
        </div>


    <div class="mb-3">
        <label asp-for="Remarks" class="form-label">Remarks</label>
        <input asp-for="Remarks" class="form-control" />
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Transfer</button>
    <a asp-controller="Assets" asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
</form>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {

            function loadCustodians(ToLocationID) {
                var $custodian = $('#TransferredTo');
                $custodian.empty();
                $custodian.append($('<option>', { value: '', text: '-- Select Custodian --' }));

                if (ToLocationID) {
                    $.ajax({
                        url: '@Url.Action("GetCustodiansByLocation", "Assets")',
                        data: { locationId: ToLocationID },
                        success: function (data) {
                            $.each(data, function (i, custodian) {
                                $custodian.append($('<option>', {
                                    value: custodian.userID,
                                    text: custodian.fullName
                                }));
                            });
                            var selectedCustodianId = '@Model.TransferredTo';
                            if (selectedCustodianId) {
                                $custodian.val(selectedCustodianId);
                            }
                        }
                    });
                }
            }
            $('#ToLocationID').change(function () {
                loadCustodians($(this).val());
            });
            loadCustodians($('#ToLocationID').val());
        });
    </script>
}
